
<!DOCTYPE html>
<html>
<head>
<title>Student Management</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Student Management System</h2>

<form action="/add" method="POST">

<input type="text" name="name" placeholder="Student Name" required>

<input type="number" name="age" placeholder="Age" required>

<input type="text" name="dept" placeholder="Department" required>

<button>Add Student</button>

</form>

<br>

<form action="/search" method="POST">

<input type="text" name="name" placeholder="Search Student">

<button>Search</button>

</form>

<br>

<center>
<a href="/view">View Students</a>
</center>

</div>

</body>
</html>